.info__content{
    padding: 0 $pd-6*2;
    .info__img{
        img{
            margin: $mg-4;
            transition: all 0.5s;
            &:hover{
               border-bottom: 6px solid $color-blue-0;
            }
        }
        
    }
}
@media screen and (max-width: 768px){
    .info__content{ padding: 0 $pd-2;
    }
}