.mercedes__News{
    .nav-tabs{
        display: flex;
        justify-content: space-around;
        width: 300px;
        margin: 0 auto;
        border: none;
        background-color: transparent;
        .nav-item{
            .nav-link{
                color: $color-white-0;
                transition: all 0.2s;
                border: none;
                &:active, &:focus{
                    color: $color-blue-0;
                    background-color: transparent;
                    border-bottom: 3px solid $color-blue-0;
                }
                &:hover{
                    color: $color-blue-0;
                }
            }
            .active{
                color: $color-blue-0;
                background-color: initial;
                border-bottom: 3px solid $color-blue-0;
            }
        }
    }
    .tab-content{
        .tab-pane{
            .newsItem{
                position: relative;
                img{
                    width: 100%;
                    height: auto;
                }
                .newsContent{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.35);
                    color: $color-white-0;
                    padding: $pd-1 $pd-2;
                    h3{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}