.mercedes__quickAccess{
        position: fixed;
        right: 0px;
        top: 300px;
        a{
            text-decoration: none;
            color: $color-white-0;
            .quickAccess__item{
                border: 0px solid $color-black-0;
                border-radius: 5px;
                background-color: $color-gray-2;
                padding: $pd-0;
                padding-right: $pd-6;
                margin: $mg-0;
                transform: translateX(87%);
                transition: all 0.8s;
                &:hover{
                    transform: translateX(1%);
                }
                p{
                    align-items: center;
                    font-weight: $fw-normal;
                    margin: $mg-0;
                    i{
                    font-size: 1.5rem;
                    }
                }
            }
            .icon__list{
                i{
                    margin: 0 $mg-1 0 0;
                    transform-origin: all 0.7s;
                    &:hover{
                        color: $color-blue-0;
                    }
                }
            }
        }
        
    }

// @media screen and (max-width: 768px){
//     .mercedes__quickAccess{
//         position: fixed;
//         bottom: 0;
//         left: 0;
//         width: 100%;
//         .quickAccess__content{
//             .quickAccess__item{
//                 float: left;
//                 width: 25%;
//             }
//         }
//     }
// }

