.mercedes__quickAccess{
        position: fixed;
        right: 0px;
        top: 300px;
        .quickAccess__item{
            transform: translateX(85%);
            transition: all 0.8s;
            &:hover{
                transform: translateX(0%);
            }
            p{
                border: 0px solid $color-black-0;
                border-radius: 5px;
                background-color: $color-gray-2;
                align-items: center;
                font-weight: $fw-normal;
                padding: $pd-0;
                padding-right: $pd-6+ 20;
                margin: $mg-0;
                i{
                font-size: 1.5rem;
                }
            }
        }
    }

@media screen and (max-width: 768px){
    .mercedes__quickAccess{
        position: fixed;
        bottom: 0;
        left: 0;
        p{
            border: 0px solid $color-black-0;
            border-radius: 5px;
            background-color: $color-gray-2;
            align-items: center;
            font-weight: $fw-normal;
            padding: $pd-0;
            padding-right: $pd-3;
            margin: $mg-0;
            i{
            font-size: 1.5rem;
            }
        }
    }
}