.strap {
  position: fixed;
  right: 0;
  top: 35%;
  z-index: 1003;
  ul {
    margin: 0;
    li {
      display: flex;
      align-items: center;
      width: 270px;
      background-color: #1f1f1f;
      height: 48px;
      margin-bottom: 1px;
    }
    li:first-child {
      border-radius: 3px 0 0 0;
    }
    li:last-child {
      border-radius: 0 0 0 3px;
      > span {
        .strap__label {
          display: none;
        }
      }
      .strap__social {
        &:hover {
          i {
            color: $color-blue-0;
          }
        }
        .link--hidden {
          display: none;
        }
      }
    }
  }
}
.strap__item {
  transform: translateX(222px);
  transition: all 0.3s;
  &:hover {
    transform: translateX(0px);
  }
  a {
    text-decoration: none;
    color: $color-white-0;
    &:hover {
      color: $color-white-0;
    }
  }
  i {
    width: 44px;
    height: 44px;
    font-size: 22px;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    color: $color-white-0;
  }
}
@media screen and (max-width: 767px) {
  .strap {
    bottom: 0;
    left: 0;
    top: auto;
    ul {
      display: flex;
      li {
        margin-bottom: 0;
        border-right: solid 2px $color-black-0;
        transform: none;
        font-size: 11px;
        height: 60px;
        justify-content: center;
        &.strap__item {
          position: relative;
          z-index: 1002;
          i {
            display: block;
            margin: 0 auto;
          }
          .strap__label {
            position: relative;
            top: -10px;
          }
          > span {
            width: 100%;
            height: 100%;
            border: none;
            background-color: transparent;
            color: $color-white-0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .strap__label {
              margin: 0;
              display: block;
              line-height: 1;
            }
          }
          .strap__social {
            position: absolute;
            bottom: 0px;
            display: block;
            width: 100%;
            transform: translateY(440px);
            background-color: #1f1f1f;
            border-radius: 3px;
            border-bottom: solid 2px $color-black-0;
            z-index: 1001;
            transition: all 0.5s;
            a {
              display: block;
              padding: 15px 0;
              &.link--hidden {
                display: block;
              }
            }
            &.open {
              transform: translateY(-57px);
            }
          }
        }
      }
    }
  }
}
