* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: $color-black-0;
  @include styleText($fs-0, $color-white-0, $fw-normal);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
